
@{
    ViewBag.Title = "Agenda Cultural";

    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();

    //var tituloeventos = jss.Serialize(ViewBag.titulo);
    //var inicioeventos = jss.Serialize(ViewBag.inicio);
    //var fineventos = jss.Serialize(ViewBag.fin);
    //var tododiaeventos = jss.Serialize(ViewBag.tododia);
    //var coloreventos = jss.Serialize(ViewBag.color);
    //var descripcioneventos = jss.Serialize(ViewBag.descripcion);
    //var idEventos = jss.Serialize(ViewBag.idEvento);

    var EventosJSON = jss.Serialize(ViewBag.Eventos);
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Registro de Actividades</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                Registro de Actividades
            </li>
            <li class="active">
                <strong>Calendario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">

        @{
            IEnumerable<SelectListItem> Ambientes = new SelectList(@ViewBag.Ambientes, "Id", "NombreMostrar");
        }

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registro Evento </h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="form-group col-lg-6">
                        <label class="control-label">Seleccionar</label>
                        @Html.DropDownList("idAmbientes", Ambientes, "--Seleccionar--", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="control-label">Seleccionar</label>
                        <select class="form-control" id="idopcion" name="OpcionEvento">
                            <option>Evento</option>
                            <option>Ensayo</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6" id="calendario">
                        <label>Fecha Inicio</label>
                        <div class="input-group date">
                            <input name="FechaIni" id="FechaIni" type="text" class="form-control" value="@ViewBag.FechaHoy" placeholder="SELECCIONE FECHA"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" id="calendario2">
                        <label>Fecha Fin</label>
                        <div class="input-group date">
                            <input name="FechaFin" id="FechaFin" type="text" class="form-control" value="@ViewBag.FechaHoy" placeholder="SELECCIONE FECHA"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>                    

                    @*<div class="form-group col-sm-1">
                        <label>Todo el día</label>
                        <div class="input-group">
                            <input id="TodoDia" type="checkbox" class="js-switch" />
                        </div>
                    </div>*@
                    <div class="form-group col-sm-6">
                        <label>Hora Incio</label>
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" id="horaini" name="HoraIni" class="form-control" value="09:30">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Hora Fin</label>
                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" id="horafin" name="HoraFin" class="form-control" value="12:00">
                            <span class="input-group-addon">
                                <span class="fa fa-clock-o"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbLunes" type="checkbox">
                                    <label for="chbLunes">
                                        Lunes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbMartes" type="checkbox">
                                    <label for="chbMartes">
                                        Martes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbMiercoles" type="checkbox">
                                    <label for="chbMiercoles">
                                        Miércoles
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbJueves" type="checkbox">
                                    <label for="chbJueves">
                                        Jueves
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbViernes" type="checkbox">
                                    <label for="chbViernes">
                                        Viernes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbSabado" type="checkbox">
                                    <label for="chbSabado">
                                        Sábado
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-primary">
                                    <input id="chbDomingo" type="checkbox">
                                    <label for="chbDomingo">
                                        Domingo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-2">
                            <div class="input-group col-lg-12">
                                <div class="checkbox checkbox-success">
                                    <input id="TodoDia" type="checkbox">
                                    <label for="TodoDia">
                                        Todo el día
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label>*Todos los campos son obligatorios para la creación del evento.</label>
                    <div class="text-right">
                        <input hidden type="text" name="opcTodoDia" id="opcTodoDia" value="false" />
                        <input hidden type="text" name="cbLunes" id="cbLunes" value="false" />
                        <input hidden type="text" name="cbMartes" id="cbMartes" value="false" />
                        <input hidden type="text" name="cbMiercoles" id="cbMiercoles" value="false" />
                        <input hidden type="text" name="cbJueves" id="cbJueves" value="false" />
                        <input hidden type="text" name="cbViernes" id="cbViernes" value="false" />
                        <input hidden type="text" name="cbSabado" id="cbSabado" value="False" />
                        <input hidden type="text" name="cbDomingo" id="cbDomingo" value="False" />
                        <button class="btn btn-sm btn-success m-t-n-xs" id="btnnuevo" name="btnnuevo" disabled onclick="nuevoregistro()"><strong>Nuevo</strong></button>
                        @*<a href="#" class="btn btn-sm btn-success m-t-n-xs" id="btnnuevo" name="btnnuevo" onclick="nuevoregistro()">Nuevo</a>*@
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendario Cultural </h5>

                </div>
                <div class="ibox-content">
                    <div id="calendarioporsala">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal inmodal" id="modal_modificar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Evento</h4>
            </div>
            <div class="modal-body" id="Detalle_Modificar">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                <a href="#" class="btn btn-danger" onclick="abrirmodalelim()">Eliminar</a>
                <a href="#" class="btn btn-primary" onclick="modificarregistro()">Modificar</a>
            </div>
        </div>
    </div>
</div>
<div id="Detalle">

</div>
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/fullCalendarStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/Scripts/plugins/jquery-qtip/jqueryqtipStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryqtip")
    @Scripts.Render("~/plugins/fullCalendar")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/toastr")

    <script type="text/javascript">

        function modificarregistro() {
            window.location.href = "ModificarRegistro?idMod=" + $('#txtIdMod').val() + "&IdModDet=" + $('#txtIdModDetalle').val() + "&todo=" + $('#InfoTodo').val();
        };

        function nuevoregistro() {

            $.get("ValidadFechaNuevo", {
                'idAmbientes': $('#idAmbientes').val(),
                'FechaIni': $('#FechaIni').val(),
                'FechaFin': $('#FechaFin').val(),
                'HoraIni': $('#horaini').val(),
                'HoraFin': $('#horafin').val(),
                'opcTodoDia': $('#opcTodoDia').val(),
                'cbLunes': $('#cbLunes').val(),
                'cbMartes': $('#cbMartes').val(),
                'cbMiercoles': $('#cbMiercoles').val(),
                'cbJueves': $('#cbJueves').val(),
                'cbViernes': $('#cbViernes').val(),
                'cbSabado': $('#cbSabado').val(),
                'cbDomingo': $('#cbDomingo').val()
            })
                .done(function (response) {
                    $('#Detalle').html(response);
                    if (msg == 'ND') {
                        toastr.error('No se puede ingresar.', 'Incorrecto.');
                    } else if (msg == 'SD') {
                        toastr.error('Seleccione los dias del evento.', 'Incorrecto.');
                    } else if (msg == 'HI') {
                        toastr.error('Seleccione una hora correcta.', 'Incorrecto.');
                    } else {
                        //toastr.success('Activo añadido.', 'Correcto.');
                        window.location.href = "NuevoRegistro?idAmbientes=" + $('#idAmbientes').val()
                            + "&OpcionEvento=" + $('#idopcion').val()
                            + "&FechaIni=" + $('#FechaIni').val()
                            + "&FechaFin=" + $('#FechaFin').val()
                            + "&HoraIni=" + $('#horaini').val()
                            + "&HoraFin=" + $('#horafin').val()
                            + "&opcTodoDia=" + $('#opcTodoDia').val()
                            + "&cbLunes=" + $('#cbLunes').val()
                            + "&cbMartes=" + $('#cbMartes').val()
                            + "&cbMiercoles=" + $('#cbMiercoles').val()
                            + "&cbJueves=" + $('#cbJueves').val()
                            + "&cbViernes=" + $('#cbViernes').val()
                            + "&cbSabado=" + $('#cbSabado').val()
                            + "&cbDomingo=" + $('#cbDomingo').val();
                    }
                });

            //window.location.href = "NuevoRegistro?idAmbientes=" + $('#idAmbientes').val()
            //    + "&OpcionEvento=" + $('#idopcion').val()
            //    + "&FechaIni=" + $('#FechaIni').val()
            //    + "&FechaFin=" + $('#FechaFin').val()
            //    + "&HoraIni=" + $('#horaini').val()
            //    + "&HoraFin=" + $('#horafin').val()
            //    + "&opcTodoDia=" + $('#opcTodoDia').val();


        }

        function abrirmodalelim() {
            //$('#modal_modificar').modal('toggle');
            swal({
                title: "Estas seguro?",
                text: "No se podrá recuperar la información",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, Eliminarlo!",
                cancelButtonText: "No, Cancelar!",
                closeOnConfirm: false,
                closeOnCancel: true
            },

            function () {

                $.get("EliminarEventoEnsayo", { idelim: $('#txtIdMod').val(), idelimdet: $('#txtIdModDetalle').val(), todo: $('#InfoTodo').val() }).done(function (data) {
                    $("#Detalle").html(data);

                    if (msg == 'E1') {
                        sweetAlert
                            ({
                                title: "Eliminado!",
                                text: "Se ha eliminado correctamente!",
                                type: "success"
                            },
                            function () {
                                window.location.href = "Calendario";
                            });
                    } else {
                        sweetAlert
                            ({
                                title: "Error!",
                                text: "El elemento no puede ser eliminado!",
                                type: "error"
                            });
                    }

                })

            });
        };

        $("#idAmbientes").change(function (e) {

            var idAmbiente = $('#idAmbientes').val();

            if ($('#idAmbientes').val() == "") {
                document.getElementById("btnnuevo").disabled = true;
                console.log(true);
            } else {
                document.getElementById("btnnuevo").disabled = false;
                console.log(false);
            }

            $.get("MostrarCalendario", { 'idAmbiente': idAmbiente })
                .done(function (resultado) {
                    $("#calendarioporsala").html(resultado);
                })
        });

        $("#horaini").change(function (e) {
            $("#horafin").val($("#horaini").val());
        });

        $("#horafin").change(function (e) {
            //$("#horafin").val($("#horaini").val());
            //var hourini = Date.parse($("#horaini").val());
            //var hourfin = Date.parse($("#horafin").val());
            //console.log(hourini + " - " + hourini);
        });

        var elem = document.querySelector('.js-switch');
        //var switchery = new Switchery(elem, { color: '#1AB394' });

        var x;
        $('#calendario .input-group.date').datepicker({
            language: "es",
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: 'dd/mm/yyyy'
        }).on('changeDate', function (selected) {
            var minDate = new Date(selected.date.valueOf());
            $('#calendario2 .input-group.date').datepicker('setStartDate', minDate);

            now = new Date(selected.date.valueOf());

            switch (now.getDay()) {
                case 5:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = true;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("True");
                    $('#cbViernes').val("True");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                case 6:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = true;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("True");
                    $('#cbSabado').val("True");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                case 0:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = true;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("True");
                    $('#cbDomingo').val("True");

                    break;
                case 1:
                    document.getElementById("chbLunes").checked = true;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("True");
                    $('#cbLunes').val("True");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                case 2:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = true;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("True");
                    $('#cbMartes').val("True");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                case 3:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = true;
                    document.getElementById("chbJueves").checked = false;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("True");
                    $('#cbMiercoles').val("True");
                    $('#cbJueves').val("False");
                    $('#cbJueves').val("False");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                case 4:
                    document.getElementById("chbLunes").checked = false;
                    document.getElementById("chbMartes").checked = false;
                    document.getElementById("chbMiercoles").checked = false;
                    document.getElementById("chbJueves").checked = true;
                    document.getElementById("chbViernes").checked = false;
                    document.getElementById("chbSabado").checked = false;
                    document.getElementById("chbDomingo").checked = false;

                    $('#cbLunes').val("False");
                    $('#cbLunes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMartes').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbMiercoles').val("False");
                    $('#cbJueves').val("True");
                    $('#cbJueves').val("True");
                    $('#cbViernes').val("False");
                    $('#cbViernes').val("False");
                    $('#cbSabado').val("False");
                    $('#cbSabado').val("False");
                    $('#cbDomingo').val("False");
                    $('#cbDomingo').val("False");

                    break;
                default:
            }
        });

        $('#calendario .input-group.date').datepicker('setStartDate', $('#FechaIni').val());

        $('#calendario2 .input-group.date').datepicker({
            language: "es",
            startView: 0,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: 'dd/mm/yyyy'
        }).on('changeDate', function (selected) {
            //var minDate = new Date(selected.date.valueOf());
            //$('#calendario .input-group.date').datepicker('setEndDate', minDate);
        });

        $('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());

        $('#FechaIni').change(function () {
            $('#FechaFin').val($('#FechaIni').val());
            //$('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());
        });

        $('#TodoDia').change(function () {
            if ($(this).is(":checked")) {
                document.getElementById("horaini").disabled = true;
                document.getElementById("horafin").disabled = true;
                $('#opcTodoDia').val("True");
            } else {
                document.getElementById("horaini").disabled = false;
                document.getElementById("horafin").disabled = false;
                $('#opcTodoDia').val("False");
            }
        });
        $('#chbLunes').change(function () {
            if ($(this).is(":checked")) {
                $('#cbLunes').val("True");
            } else {
                $('#cbLunes').val("False");
            }
        });
        $('#chbMartes').change(function () {
            if ($(this).is(":checked")) {
                $('#cbMartes').val("True");
            } else {
                $('#cbMartes').val("False");
            }
        });
        $('#chbMiercoles').change(function () {
            if ($(this).is(":checked")) {
                $('#cbMiercoles').val("True");
            } else {
                $('#cbMiercoles').val("False");
            }
        });
        $('#chbJueves').change(function () {
            if ($(this).is(":checked")) {
                $('#cbJueves').val("True");
            } else {
                $('#cbJueves').val("False");
            }
        });
        $('#chbViernes').change(function () {
            if ($(this).is(":checked")) {
                $('#cbViernes').val("True");
            } else {
                $('#cbViernes').val("False");
            }
        });
        $('#chbSabado').change(function () {
            if ($(this).is(":checked")) {
                $('#cbSabado').val("True");
            } else {
                $('#cbSabado').val("False");
            }
        });
        $('#chbDomingo').change(function () {
            if ($(this).is(":checked")) {
                $('#cbDomingo').val("True");
            } else {
                $('#cbDomingo').val("False");
            }
        });

        var count = 0;
        $('.clockpicker').clockpicker();

        $(document).ready(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            $('#calendar').fullCalendar({
                locale: 'es',
                header: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                droppable: true,
                //events: [],
                //events: "http://localhost/ddcCajamarca.Web/AgendaCultural/DataEventosJSON",
                events: JSON.parse('@Html.Raw(EventosJSON)'),
                eventRender: function (event, element) {
                    element.qtip({
                        content: event.description,
                        style: 'qtip-light',
                        position: {
                            target: 'mouse', // Sige Movimiento Mouse
                            adjust: { x: 5, y: 5 }
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var ideve = calEvent.data;
                    //console.log(calEvent.data);
                    //$(this).css('border-color', 'red');
                    //

                    $.get("OBtenerEventoPorId", { 'Id': ideve })
                        .done(function (response) {
                            $('#Detalle_Modificar').html(response);
                            $('#modal_modificar').modal('show');
                        });
                },
                dayClick: function (date) {
                    if (count == 0) {
                        x = $(this);
                        $(this).css('background-color', 'lightSkyBlue');
                        $('#FechaIni').val(date.format('DD') + '/' + date.format('MM') + '/' + date.format('YYYY'));
                        $('#FechaFin').val(date.format('DD') + '/' + date.format('MM') + '/' + date.format('YYYY'));
                        count++;
                        $('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());
                    } else {
                        x.css('background-color', 'white');
                        x = $(this);
                        $(this).css('background-color', 'lightSkyBlue');
                        $('#FechaIni').val(date.format('DD') + '/' + date.format('MM') + '/' + date.format('YYYY'));
                        $('#FechaFin').val(date.format('DD') + '/' + date.format('MM') + '/' + date.format('YYYY'));
                        $('#calendario2 .input-group.date').datepicker('setStartDate', $('#FechaIni').val());
                    }

                    now = new Date(date.format('YYYY') + "/" + date.format('MM') + "/" + date.format('DD'));

                    switch (now.getDay()) {
                        case 5:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = true;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("True");
                            $('#cbViernes').val("True");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        case 6:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = true;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("True");
                            $('#cbSabado').val("True");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        case 0:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = true;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("True");
                            $('#cbDomingo').val("True");

                            break;
                        case 1:
                            document.getElementById("chbLunes").checked = true;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("True");
                            $('#cbLunes').val("True");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        case 2:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = true;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("True");
                            $('#cbMartes').val("True");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        case 3:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = true;
                            document.getElementById("chbJueves").checked = false;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("True");
                            $('#cbMiercoles').val("True");
                            $('#cbJueves').val("False");
                            $('#cbJueves').val("False");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        case 4:
                            document.getElementById("chbLunes").checked = false;
                            document.getElementById("chbMartes").checked = false;
                            document.getElementById("chbMiercoles").checked = false;
                            document.getElementById("chbJueves").checked = true;
                            document.getElementById("chbViernes").checked = false;
                            document.getElementById("chbSabado").checked = false;
                            document.getElementById("chbDomingo").checked = false;

                            $('#cbLunes').val("False");
                            $('#cbLunes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMartes').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbMiercoles').val("False");
                            $('#cbJueves').val("True");
                            $('#cbJueves').val("True");
                            $('#cbViernes').val("False");
                            $('#cbViernes').val("False");
                            $('#cbSabado').val("False");
                            $('#cbSabado').val("False");
                            $('#cbDomingo').val("False");
                            $('#cbDomingo').val("False");

                            break;
                        default:
                    }
                },
                navLinks: true,
                navLinkDayClick: function (date, jsEvent) {
                    $('#calendar').fullCalendar('changeView', 'agendaDay', date.format());
                }
            });


        @*var tituloeventos = JSON.parse('@Html.Raw(tituloeventos)');
        var inicioeventos = JSON.parse('@Html.Raw(inicioeventos)');
        var fineventos = JSON.parse('@Html.Raw(fineventos)');
        var tododiaeventos = JSON.parse('@Html.Raw(tododiaeventos)');
        var coloreventos = JSON.parse('@Html.Raw(coloreventos)');
        var descripcioneventos = JSON.parse('@Html.Raw(descripcioneventos)');
        var idEventos = JSON.parse('@Html.Raw(idEventos)');

        tituloeventos.forEach(function (entry, index) {

            var fechainieve = new Date(parseInt(inicioeventos[index].substr(6)));
            var fechafineve = new Date(parseInt(fineventos[index].substr(6)));

            var myevento = {
                title: tituloeventos[index],
                start: new Date(fechainieve.getFullYear(), fechainieve.getMonth(), fechainieve.getDate(), fechainieve.getHours(), fechainieve.getMinutes()),
                end: new Date(fechafineve.getFullYear(), fechafineve.getMonth(), fechafineve.getDate(), fechafineve.getHours(), fechafineve.getMinutes()),
                allDay: tododiaeventos[index],
                color: coloreventos[index],
                description: descripcioneventos[index],
                data: function () {
                    return {
                        eventoId: idEventos[index],
                    };
                }
            };
            //$('#calendar').fullCalendar('renderEvent', myevento, true);
        });*@

        });


    </script>
}
