
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Perfil de Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                Seguridad
            </li>
            <li class="active">
                <strong>Perfil de Usuario</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>
                    Formulario - Perfil
                </h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form action="@Url.Action("CambiarUsuarioContrasenia", "Account")" enctype="multipart/form-data" method="post">
                        <div class="col-lg-7">
                            <div class="form-group col-lg-12">
                                <label>Usuario</label>
                                <input name="Usuario" readonly placeholder="INGRESE NOMBRE" class="form-control" value="@ViewBag.usuario.Usuario" style="text-transform:uppercase;" required autocomplete="off">
                            </div>

                            <div class="form-group col-lg-12">
                                <label>Rol Sistema</label>
                                <input name="RolSistema" readonly placeholder="INGRESE NOMBRE" class="form-control" value="@ViewBag.Rol" style="text-transform:uppercase;" required autocomplete="off">
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="lb2">Contraseña actual</label><label style="color:red" id="errorlb2" hidden> Las contraseñas no coinciden!</label>
                                    <input type="password" name="oldpass" id="oldpass" class="form-control" placeholder="Repetir la Contraseña" required />
                                </div>
                            </div>
                            
                            <div class="col-md-12" id="pwd-container1">
                                <div class="form-group">
                                    <label id="lb1">Nueva Contraseña*</label>
                                    @*@Html.PasswordFor(m => m.Contrasenia, new { id = "contra1", @class = "form-control", required = "required", placeholder = "Contraseña" })*@
                                    <input type="password" name="Contrasenia" id="contra1" class="form-control  example1" placeholder="Contraseña" required />
                                </div>
                                <div class="form-group">
                                    <div class="pwstrength_viewport_progress"></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label id="lb2">Repetir Contraseña*</label><label style="color:red" id="errorlb2" hidden> Las contraseñas no coinciden!</label>
                                    <input type="password" name="Contrasenia2" id="contra2" class="form-control" placeholder="Repetir la Contraseña" required />
                                </div>
                            </div>
                            <div class="col-md-12" style="top:15px">
                                <div class="form-group col-md-12">
                                    <button class="btn btn-primary btn-lg pull-right" disabled id="btnGuardar" type="submit">Crear</button>
                                    @*<a class="btn btn-default btn-lg pull-right" href="@Url.Action("Index", "Home")">Cancelar</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <label style="color:red"> @Html.ValidationSummary()</label>
                            <div class="text-center">
                                <div style="margin-top: 20px">
                                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                </div>
                            </div>
                        </div>
                        <input name="Id" style="visibility:hidden" class="form-control" value="@ViewBag.usuario.Id">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/passwordMeter")

    <script>

        $(document).ready(function () {

            if ('@ViewBag.MS' === "M1") {
                toastr.success('@ViewBag.dato', 'Contraseña cambiada correctamente.');
            } else if ('@ViewBag.MS' === "M2") {
                toastr.error('@ViewBag.dato', 'Error al ingresar la nueva contraseña.');
            }

            var options1 = {};
            options1.ui = {
                container: "#pwd-container1",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".pwstrength_viewport_progress"
                }
            };
            options1.common = {
                debug: false,
            };
            $('.example1').pwstrength(options1);
        });

        $("#contra2").focusout(function (e) {
            if ($("#contra1").val() != $("#contra2").val()) {
                //$("#lb2").attr("style", "color:red")
                //$("#lb1").attr("style", "color:red")
                $("#errorlb2").show();
                document.getElementById('btnGuardar').disabled = true;
            } else {
                $("#errorlb2").hide();
                document.getElementById('btnGuardar').disabled = false;
            }
        });
        $("#contra1").keypress(function (e) {
            //$("#lb2").attr("style", "color:black")
            //$("#lb1").attr("style", "color:black")
        });
        $("#contra2").keypress(function (e) {
            //$("#lb2").attr("style", "color:black")
            //$("#lb1").attr("style", "color:black")

        });
        $("#btnGuardar").click(function (e) {
            var ids2 = $("#role").val();
            if ($("#contra1").val() != $("#contra2").val()) {
                e.preventDefault();
                //$("#lb2").attr("style", "color:red")
                //$("#lb1").attr("style", "color:red")
                //alert("Las contraseñas no coinciden.")
                $("#errorlb2").show();
                document.getElementById('btnGuardar').disabled = true;
            }
            if ($("#contra1").val() == $("#oldpass").val()) {
                e.preventDefault();
                toastr.error('La contraseña antigua y la nueva no pueden ser iguales.', 'Alerta.');
            }

            //else if (role < 1) {
            //    e.preventDefault();
            //    alert('Seleccionar un Rol');
            //}
        });

    </script>
}

